#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
  margin: 2em 0;
}
.Card{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  background-color: rgb(100, 100, 100);
  width: 250px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 3px 4px 5px rgb(31, 31, 31);
}