*{
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

header{
  background-color: rgb(20, 20, 20, .8);
  width: 100%;
  padding: 1em 0;
  font-size: smaller;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}
header button{
  margin-top: .8em;
}

section{
  background-color: rgb(20, 20, 20, .8);
  margin: 1em 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;padding: 1em 2em;
  border-radius: 15px;
  width: 50%;
}

ul{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%
}
ul li{
  width: 5%;
  height: 5%;
  margin: .5em;
  padding: 1em;
  list-style: none;
  background-color: rgb(130, 130, 130, .1);
  cursor: pointer;
  transition: .2s;
}
ul li:hover{
  background-color: rgb(130, 130, 130, .3);
}